In [1]:
# Импорт библиотек
import pandas as pd
import numpy as np

In [2]:
# Загружаем файл
reDf= pd.read_csv('/Users/alex_eyfler/ds_bootcamp/rent_real_estate_team_pandas/Alexander/data/almost_final_full_data.csv')

In [3]:
# Переименовываем столбцы
reDf.rename(columns={
    'ID  объявления': 'id',
    'Количество комнат': 'number_of_rooms',
    'Метро': 'subway',
    'Парковка': 'parking',
    'Ремонт': 'renovation',
    'Балкон': 'balcony',
    'Окна': 'windows',
    'Высота потолков, м': 'ceiling_height_m',
    'Мусоропровод': 'garbage_chute',
    'Общая площадь, м2': 'total_area_m2',
    'Тип дома': 'building_type',
    'Этажность дома': 'building_floors',
    'Этаж квартиры': 'apartment_floor',
    'Лоджия': 'loggia',
    'Санузел совмещенный': 'combined_bathroom',
    'Санузел раздельный': 'separate_bathroom',
    'Лифт пасс': 'passenger_elevator',
    'Лифт груз': 'freight_elevator',
    'Можно с детьми': 'allowed_with_children',
    'Можно с животными': 'allowed_with_pets',
    'Цена аренды': 'rental_price'
}, inplace=True)

In [5]:
# Делаем дамми кодировку
testDf = pd.get_dummies(reDf, columns=['subway', 'parking', 'renovation', 'windows', 'garbage_chute', 'building_type'])

In [6]:
testDf.head()

,id,number_of_rooms,balcony,ceiling_height_m,total_area_m2,building_floors,apartment_floor,loggia,combined_bathroom,separate_bathroom,...,building_type_Газобетонный блок,building_type_Деревянный,building_type_Кирпичный,building_type_Монолитно-кирпичный,building_type_Монолитный,building_type_Неизвестно,building_type_Панельный,building_type_Сталинский,building_type_Щитовой,building_type_старый фонд
0,271271157,4.0,0.0,3.0,200.0,16,5,0.0,1.0,0.0,...,False,False,False,False,True,False,False,False,False,False
1,271634126,4.0,0.0,3.5,198.0,16,5,0.0,2.0,1.0,...,False,False,False,True,False,False,False,False,False,False
2,271173086,4.0,0.0,3.2,200.0,16,5,0.0,3.0,0.0,...,False,False,False,False,False,True,False,False,False,False
3,272197456,4.0,0.0,3.2,170.0,6,5,0.0,3.0,0.0,...,False,False,False,False,False,True,False,False,False,False
4,273614615,2.0,0.0,3.9,58.0,26,12,0.0,2.0,0.0,...,False,False,False,False,False,False,True,False,False,False