# Первый трай первого коммита

## Импорты

In [1]:
# основные библиотеки для работы с данными
import pandas as pd
import numpy as np

# инструменты визуализации
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

## Выгрузка данных и деление их пополам по строкам

In [5]:
# задаем количество отображаемых столбцов, чтобы посмотреть всё
pd.set_option('display.max_columns', 30)

In [14]:
# загружаем первый большой датасет
df_total = pd.read_csv('/Users/alex_eyfler/ds_bootcamp/rent_real_estate_team_pandas/Alexander/data/data.csv')

In [18]:
# смотрим, какой размер у датасета в общем
df_total.shape

(23368, 25)

In [12]:
# разделяем датасет построчно для командной работы
df = df_total.iloc[0:11684, :]
df.to_csv('/Users/alex_eyfler/ds_bootcamp/rent_real_estate_team_pandas/Alexander/data/top_data.csv', index=False)

## Работа с верхей половиной данных, датасетом df = top_data.csv

### Разведочный EDA (Exploratory Data Analysis) анализ данных

In [17]:
# ознакомление с общим видом данных
df.head()

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Телефоны,Описание,Ремонт,"Площадь комнат, м2",Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","+79672086536, +79099269384","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",Евроремонт,NaN,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...","+79660342340, +79099269384",ID 31618: Эксклюзивное предложение. Современн...,Евроремонт,14-42-20-19,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",+79852432860,Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,Евроремонт,20 18,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

In [19]:
# определяемся с размером датасета, понять общее количество данных
df.shape

(11684, 25)

In [21]:
# получаем типы данных в каждой колонке, а также смотрим пропущенные значения
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11684 entries, 0 to 11683
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                11684 non-null  int64
 1   ID  объявления            11684 non-null  int64
 2   Количество комнат         11271 non-null  object
 3   Тип                       11684 non-null  object
 4   Метро                     11155 non-null  object
 5   Адрес                     11684 non-null  object
 6   Площадь, м2               11684 non-null  object
 7   Дом                       11684 non-null  object
 8   Парковка                  5050 non-null   object
 9   Цена                      11684 non-null  object
 10  Телефоны                  11684 non-null  object
 11  Описание                  11684 non-null  object
 12  Ремонт                    10300 non-null  object
 13  Площадь комнат, м2        7316 non-null   object
 14  Балкон                    7603 non-null   object
 15  Окна                      8431 non-null   object
 16  Санузел                   10350 non-null  object
 17  Можно с детьми/животными  8774 non-null   object
 18  Дополнительно             11511 non-null  object
 19  Название ЖК               2813 non-null   object
 20  Серия дома                1142 non-null   object
 21  Высота потолков, м        6038 non-null   float64
 22  Лифт                      9067 non-null   object
 23  Мусоропровод              6663 non-null   object
 24  Ссылка на объявление      11684 non-null  object
dtypes: float64(1), int64(2), object(22)
memory usage: 2.2+ MB

In [22]:
# проверяем количество пропущенных данных
df.isnull().sum()

Unnamed: 0                      0
ID  объявления                  0
Количество комнат             413
Тип                             0
Метро                         529
Адрес                           0
Площадь, м2                     0
Дом                             0
Парковка                     6634
Цена                            0
Телефоны                        0
Описание                        0
Ремонт                       1384
Площадь комнат, м2           4368
Балкон                       4081
Окна                         3253
Санузел                      1334
Можно с детьми/животными     2910
Дополнительно                 173
Название ЖК                  8871
Серия дома                  10542
Высота потолков, м           5646
Лифт                         2617
Мусоропровод                 5021
Ссылка на объявление            0
dtype: int64

In [23]:
# используем метод просмотра базовых числовых статистик, хотя он тут пока не нагляден
df.describe()

         Unnamed: 0  ID  объявления  Высота потолков, м
count  11684.000000    1.168400e+04         6038.000000
mean    5841.500000    2.675684e+08            3.063294
std     3373.024607    1.909546e+07            9.123253
min        0.000000    1.288058e+08            2.000000
25%     2920.750000    2.713512e+08            2.640000
50%     5841.500000    2.739852e+08            2.640000
75%     8762.250000    2.747115e+08            2.800000
max    11683.000000    2.750056e+08          320.000000

#### Посмотрим на количество уникальных значений в каждом не числовом столбце

In [24]:
df['Количество комнат'].value_counts() # 413 пропущенных значений

Количество комнат
1                   4021
2, Изолированная    2377
2                   1304
3                    814
3, Изолированная     792
3, Оба варианта      443
4                    343
2, Смежная           322
2, Оба варианта      295
4, Оба варианта      139
5                    118
4, Изолированная     113
5, Оба варианта       44
3, Смежная            44
6                     41
5, Изолированная      24
6, Оба варианта       19
6, Изолированная       6
4, Смежная             5
1, Изолированная       4
5, Смежная             2
1, Оба варианта        1
Name: count, dtype: int64

In [25]:
df['Тип'].value_counts() # 0 пропущенных значений

Тип
Квартира    11684
Name: count, dtype: int64

In [26]:
df['Метро'].value_counts() # 529 пропущенных значений

Метро
м. Строгино (15 мин пешком)                 33
м. Римская (None мин пешком)                33
м. Коломенская (15 мин пешком)              31
м. Кузьминки (10 мин пешком)                31
м. Октябрьское поле (4 мин на машине)       30
                                            ..
м. Волжская (None мин пешком)                1
м. Угрешская (8 мин пешком)                  1
м. Некрасовка (3 мин пешком)                 1
м. Марьино (23 мин пешком)                   1
м. Преображенская площадь (3 мин пешком)     1
Name: count, Length: 3526, dtype: int64

In [27]:
df['Адрес'].value_counts() # 0 пропущенных значений

Адрес
Москва, улица 1-я Леонова, 18                 42
Москва, шоссе Энтузиастов, 3к1                31
Москва, 1-й Красногвардейский проезд, 22с2    28
Москва, улица Берзарина, 30А                  28
Москва, переулок Докучаев, 2с3                26
                                              ..
Москва, Новоалексеевская улица, 3              1
Москва, улица Искры, 1                         1
Москва, улица 2-я Марьиной рощи, 14В           1
Москва, улица Милашенкова, 15                  1
Москва, Большая Черкизовская улица, 9К1        1
Name: count, Length: 6593, dtype: int64

In [28]:
df['Площадь, м2'].value_counts() # 0 пропущенных значений

Площадь, м2
40.0/20.0/10.0    116
45.0/30.0/6.0      60
40.0/20.0/9.0      54
40.0               53
45.0               47
                 ...
38.0/18.7/10.2      1
78.0/45.0/13.0      1
58.0/22.0/20.0      1
60.0/33.0/14.0      1
31.6/6.0            1
Name: count, Length: 6459, dtype: int64

In [29]:
df['Дом'].value_counts() # 0 пропущенных значений

Дом
3/5, Кирпичный       147
4/5, Кирпичный       127
5/9, Панельный       127
3/9, Панельный       108
7/9, Панельный       107
                    ...
30/65, Монолитный      1
36/65                  1
61/65, Монолитный      1
52/80, Монолитный      1
9/18, Панельный        1
Name: count, Length: 1968, dtype: int64

In [30]:
df['Парковка'].value_counts() # 6634 пропущенных значения

Парковка
наземная          3162
подземная         1387
открытая           452
многоуровневая      49
Name: count, dtype: int64

In [31]:
df['Цена'].value_counts() # 0 пропущенных значений

Цена
40000.0 руб./ За месяц, Залог - 40000 руб., Коммунальные услуги включены, Срок аренды - Длительный, Предоплата 1 мес                    611
45000.0 руб./ За месяц, Залог - 45000 руб., Коммунальные услуги включены, Срок аренды - Длительный, Предоплата 1 мес                    577
35000.0 руб./ За месяц, Залог - 35000 руб., Коммунальные услуги включены, Срок аренды - Длительный, Предоплата 1 мес                    576
50000.0 руб./ За месяц, Залог - 50000 руб., Коммунальные услуги включены, Срок аренды - Длительный, Предоплата 1 мес                    478
55000.0 руб./ За месяц, Залог - 55000 руб., Коммунальные услуги включены, Срок аренды - Длительный, Предоплата 1 мес                    361
                                                                                                                                       ...
220000.0 руб./ За месяц, Коммунальные услуги включены, Срок аренды - Длительный, Предоплата 1 мес                                         1
1200000.0 руб./ За месяц, Залог - 1200000 руб., Срок аренды - Длительный, Предоплата 1 мес                                                1
120000.0 руб./ За месяц, Сумма коммунальных платежей - 10000.0 руб., Залог - 120000 руб., Срок аренды - Длительный, Предоплата 1 мес      1
75000.0 руб./ За месяц, Залог - 37500 руб., Коммунальные услуги включены, Срок аренды - На несколько месяцев, Предоплата 1 мес            1
35990.0 руб./ За месяц, Залог - 35990 руб., Коммунальные услуги включены, Срок аренды - Длительный, Предоплата 1 мес                      1
Name: count, Length: 2178, dtype: int64

In [32]:
df['Телефоны'].value_counts() # 0 пропущенных значений

Телефоны
+74954760059                  140
+79819217172                  133
+79652883064                  133
+79651095872                   74
+79152317466                   58
                             ...
+79851950324, +79855020016      1
+79660514171                    1
+79099988791                    1
+79660528306                    1
+79168537422, +79197274708      1
Name: count, Length: 7437, dtype: int64

In [33]:
df['Описание'].value_counts() # 0 пропущенных значений

Описание
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     51
СПЕШИТЕ, ПОКА ЦЕНА НЕ ВЫРОСЛА!!! \nГАРАНТИЯ САМОЙ НИЗКОЙ КОМИССИИ за данный объект! Ниже НЕ НАЙДЕТЕ! Иначе сделаем скидку! \nСдается на длительный срок чистая, уютная квартира, рядом с метро. В квартире есть вся необходимая мебель и бытовая техника для Вашего комфортного проживания. Чистый, ухоженный подъезд. Развитая инфраструктура, магазины, фитнес клуб рядом с домом. Депозит ДЕЛИТСЯ. Звоните!!!, 10 фото                                                                                                                                                                                                                                                              5
Квартира сдаётся с Яндекс Арендой, а значит всё для вас:\n- без залога;\n- без единоразовой комиссии;\n- с поддержкой от наших специалистов в процессе проживания.\n \nМы можем показать вам квартиру онлайн  это так же детально, как вживую, только вы не тратите время на дорогу и запись возможна на ближайшее время., 21 фото                                                                                                                                                                                                                                                                                                                                                     4
Квартира сдаётся с Яндекс Арендой, а значит всё для вас:   \n- без залога   \n- без единоразовой комиссии  \n- с поддержкой от наших специалистов в процессе проживания. \n \nМы можем показать вам квартиру онлайн  это так же детально, как вживую, только вы не тратите время на дорогу и запись возможна на ближайшее время., 15 фото                                                                                                                                                                                                                                                                                                                                              4
Квартира сдаётся с Яндекс Арендой, а значит всё для вас:\n- без залога;\n- без единоразовой комиссии;\n- с поддержкой от наших специалистов в процессе проживания.\n \nМы можем показать вам квартиру онлайн  это так же детально, как вживую, только вы не тратите время на дорогу и запись возможна на ближайшее время., 13 фото                                                                                                                                                                                                                                                                                                                                                     4
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ..
В шаговой доступности от метро "Щелковская" и "Первомайская" предлагается уютная однокомнатная квартира. В комнату установлены угловой диван и кровать, для досуга - телевизор. Комфортный климат поможет обеспечить кондиционер. Кухня располагает расширенным комплектом бытовой техники, включая варочную панель с вытяжкой и посудомоечной машиной.\n\nВ окружении дома есть школы и магазины, отделения банков, спорткомплексы, ТЦ "Щелково", "Первомайский" и "Место встречи София", медклиники, а в 25 минутах ходьбы - Гольяновский сквер с прудом. Выезд на Щелковское шоссе и МКАД.\n\n - Страховой депозит можно оплатить 2-мя частями.\n - ID объекта 479221., 12 фото     1
Предлагается однокомнатная квартира в пешей доступности от метро "Щелковская". Жилая комната располагает удобным диваном и практичными системами хранения. Кухня оснащена гарнитуром с необходимой бытовой техникой, включая духовую печь и холодильник. Комфортный микроклимат поддерживает кондиционер. Имеется застекленный балкон, окна выходят во двор.\n\nРядом находятся магазины, аптеки, медицинские центры, салоны красоты, кафе, ТЦ "МиМиМи", "Парковый". Для прогулок подойдет Сиреневый сад. Удобные выезды на Щелковское шоссе, ТТК.\n\n - Страховой депозит можно оплатить 2-мя частями.\n - ID объекта 359494., 13 фото                                                1
Предлагается уютная двухкомнатная квартира в 11-12 минутах от метро "Щелковская". Смежные гостиная и спальня располагают необходимой для комфорта мебелью. Кухонный гарнитур укомплектован востребованным набором техники, включая варочную панель и холодильник. Ванная совмещена. Имеется балкон.\n\nВо дворе есть где припарковать авто. Рядом находятся школы, детсады, поликлиники, магазины, торговый центр, кафе, салоны красоты и Сиреневый парк для прогулок. Удобный выезд на Щелковское шоссе.\n\n - Страховой депозит можно оплатить 2-мя частями.\n - ID объекта 280842., 9 фото                                                                                          1
Вашему вниманию предлагается Стильная красивая квартира прямо у метро Щелковская .\n Ремонт дизайнерский , вся техника , кондиционер , фильтры очистки воды , большая ванная , вместительная гардеробная , сдам на длительный срок некурящим .\n Квартира Свободна , сдается впервые на длительный срок . \nВ ближайшей доступности есть вся инфраструктура от прачечной , магазинов , аптек до фитнес зала. Так же есть рядом школы и детсады., 8 фото                                                                                                                                                                                                                                1
Сдается однокомнатная квартира в спальном районе, зеленого района на длительный срок. Квартира готова к заселению, просмотры по договоренности. Одного-двух человек., 13 фото                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
Name: count, Length: 11559, dtype: int64

In [34]:
df['Ремонт'].value_counts() # 1384 пропущенных значения

Ремонт
Евроремонт       4290
Косметический    4212
Дизайнерский     1716
Без ремонта        82
Name: count, dtype: int64

In [35]:
df['Площадь комнат, м2'].value_counts() # 4368 пропущенных значения

Площадь комнат, м2
20          867
18          433
19          424
18-14       130
16          128
           ...
20+17+40      1
30 25 25      1
20 25 35      1
20+20+14      1
5.3           1
Name: count, Length: 2300, dtype: int64

In [36]:
df['Балкон'].value_counts() # 4081 пропущенное значение

Балкон
Балкон (1)                3720
Лоджия (1)                2945
Балкон (1), Лоджия (1)     327
Лоджия (2)                 282
Балкон (2)                 244
Балкон (3)                  25
Балкон (1), Лоджия (2)      15
Лоджия (3)                  13
Балкон (2), Лоджия (1)      10
Балкон (2), Лоджия (2)       4
Балкон (3), Лоджия (1)       3
Балкон (2), Лоджия (3)       3
Балкон (1), Лоджия (3)       3
Балкон (4)                   3
Лоджия (4)                   3
Балкон (3), Лоджия (3)       1
Балкон (4), Лоджия (4)       1
Балкон (1), Лоджия (4)       1
Name: count, dtype: int64

In [37]:
df['Окна'].value_counts() # 3253 пропущенных значения

Окна
Во двор            5588
На улицу и двор    1629
На улицу           1214
Name: count, dtype: int64

In [38]:
df['Санузел'].value_counts() # 1334 пропущенных значения

Санузел
Совмещенный (1)                    5053
Раздельный (1)                     3539
Совмещенный (2)                     733
Совмещенный (1), Раздельный (1)     407
Раздельный (2)                      270
Совмещенный (3)                     127
Совмещенный (2), Раздельный (1)      96
Совмещенный (4)                      40
Раздельный (3)                       24
Совмещенный (1), Раздельный (2)      18
Совмещенный (2), Раздельный (2)      15
Совмещенный (3), Раздельный (1)      11
Раздельный (4)                        7
Совмещенный (3), Раздельный (3)       2
Совмещенный (4), Раздельный (2)       2
Совмещенный (2), Раздельный (3)       2
Совмещенный (4), Раздельный (1)       2
Совмещенный (2), Раздельный (4)       1
Совмещенный (1), Раздельный (3)       1
Name: count, dtype: int64

In [40]:
df['Можно с детьми/животными'].value_counts() # 2910 пропущенных значения

Можно с детьми/животными
Можно с детьми                       4987
Можно с детьми, Можно с животными    3653
Можно с животными                     134
Name: count, dtype: int64

In [48]:
df['Дополнительно'].value_counts().head(15) # 173 пропущенных значения

Дополнительно
Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Телевизор, Холодильник, Интернет                                                                1487
Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Холодильник, Интернет                                                                            631
Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Кондиционер, Посудомоечная машина, Телевизор, Холодильник, Интернет                              517
Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Кондиционер, Телевизор, Холодильник, Интернет                                                    512
Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Телевизор, Холодильник, Интернет, Телефон                                                        508
Мебель в комнатах, Мебель на кухне, Стиральная машина, Холодильник                                                                                             441
Мебель в комнатах, Мебель на кухне, Ванна, Душевая кабина, Стиральная машина, Кондиционер, Посудомоечная машина, Телевизор, Холодильник, Интернет, Телефон     416
Мебель в комнатах, Мебель на кухне, Ванна, Душевая кабина, Стиральная машина, Кондиционер, Посудомоечная машина, Телевизор, Холодильник, Интернет              383
Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Кондиционер, Посудомоечная машина, Телевизор, Холодильник, Интернет, Телефон                     328
Мебель в комнатах, Ванна, Стиральная машина, Интернет                                                                                                          327
Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Телевизор, Холодильник                                                                           309
Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Холодильник                                                                                      291
Мебель в комнатах, Мебель на кухне, Душевая кабина, Стиральная машина, Кондиционер, Посудомоечная машина, Телевизор, Холодильник, Интернет                     251
Мебель в комнатах, Мебель на кухне, Стиральная машина, Телевизор, Холодильник, Интернет                                                                        217
Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Посудомоечная машина, Телевизор, Холодильник, Интернет                                           215
Name: count, dtype: int64

In [42]:
df['Название ЖК'].value_counts() # 8871 пропущенных значения

Название ЖК
Символ, 2019              61
Водный, 2015              45
Люблинский парк           33
Октябрьское поле, 2021    28
Люблинский парк, 2021     24
                          ..
Грани                      1
Тополя                     1
SREDA, 2018                1
Новый город, 2019          1
Наследие, 2016             1
Name: count, Length: 924, dtype: int64

In [43]:
df['Серия дома'].value_counts() # 10542 пропущенных значения

Серия дома
индивидуальный проект    296
Индивидуальный проект     68
П44                       48
П44Т                      45
СЭМ-2                     19
                        ...
1965                       1
индивидуальная             1
Идивидуальный проект       1
П-55                       1
пик-1                      1
Name: count, Length: 273, dtype: int64

In [45]:
df['Лифт'].value_counts() # 2617 пропущенных значения

Лифт
Пасс (1)               2928
Пасс (2)               2188
Пасс (1), Груз (1)     2065
Пасс (2), Груз (1)      616
Пасс (2), Груз (2)      365
Пасс (3)                311
Пасс (4)                180
Пасс (3), Груз (1)       93
Пасс (1), Груз (2)       89
Груз (1)                 36
Пасс (4), Груз (1)       34
Пасс (4), Груз (2)       32
Пасс (3), Груз (2)       23
Пасс (3), Груз (3)       22
Пасс (4), Груз (4)       21
Груз (4)                 18
Груз (2)                 11
Груз (3)                  9
Пасс (4), Груз (3)        5
Пасс (1), Груз (3)        4
Пасс (6)                  4
Пасс (2), Груз (3)        2
Пасс (60)                 2
Пасс (50)                 2
Пасс (5), Груз (1)        1
Пасс (1), Груз (12)       1
Пасс (8), Груз (8)        1
Пасс (7)                  1
Пасс (1), Груз (4)        1
Пасс (5), Груз (3)        1
Пасс (2), Груз (4)        1
Name: count, dtype: int64

In [46]:
df['Мусоропровод'].value_counts() # 5021 пропущенных значения

Мусоропровод
Да     5705
Нет     958
Name: count, dtype: int64

In [47]:
df['Ссылка на объявление'].value_counts() # 0 пропущенных значений

Ссылка на объявление
https://www.cian.ru/rent/flat/271271157    1
https://www.cian.ru/rent/flat/254957081    1
https://www.cian.ru/rent/flat/274832126    1
https://www.cian.ru/rent/flat/272612739    1
https://www.cian.ru/rent/flat/267367343    1
                                          ..
https://www.cian.ru/rent/flat/274760479    1
https://www.cian.ru/rent/flat/271098460    1
https://www.cian.ru/rent/flat/274884619    1
https://www.cian.ru/rent/flat/272755582    1
https://www.cian.ru/rent/flat/274352526    1
Name: count, Length: 11684, dtype: int64