In [133]:
# основные библиотеки для работы с данными
import pandas as pd
import numpy as np
import re

# инструменты визуализации
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [134]:
pd.set_option('display.max_columns', 30)

In [135]:
df = pd.read_csv('/Users/alex_eyfler/ds_bootcamp/rent_real_estate_team_pandas/Alexander/data/full_cleaned_data.csv')

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23199 entries, 0 to 23198
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID  объявления       23199 non-null  int64
 1   Количество комнат    22170 non-null  float64
 2   Метро                21893 non-null  object
 3   Парковка             9871 non-null   object
 4   Ремонт               20454 non-null  object
 5   Балкон               15287 non-null  float64
 6   Окна                 16643 non-null  object
 7   Высота потолков, м   11122 non-null  float64
 8   Мусоропровод         12743 non-null  object
 9   Общая площадь, м2    23199 non-null  float64
 10  Тип дома             23199 non-null  object
 11  Этажность дома       23199 non-null  int64
 12  Этаж квартиры        23199 non-null  int64
 13  Лоджия               15287 non-null  float64
 14  Санузел совмещенный  20559 non-null  float64
 15  Санузел раздельный   20559 non-null  float64
 16  Лифт пасс            17730 non-null  float64
 17  Лифт груз            17730 non-null  float64
 18  Можно с детьми       16912 non-null  float64
 19  Можно с животными    7097 non-null   float64
 20  Цена аренды          23199 non-null  float64
dtypes: float64(12), int64(3), object(6)
memory usage: 3.7+ MB

In [137]:
df.isnull().sum()

ID  объявления             0
Количество комнат       1029
Метро                   1306
Парковка               13328
Ремонт                  2745
Балкон                  7912
Окна                    6556
Высота потолков, м     12077
Мусоропровод           10456
Общая площадь, м2          0
Тип дома                   0
Этажность дома             0
Этаж квартиры              0
Лоджия                  7912
Санузел совмещенный     2640
Санузел раздельный      2640
Лифт пасс               5469
Лифт груз               5469
Можно с детьми          6287
Можно с животными      16102
Цена аренды                0
dtype: int64

In [138]:
df_tested = df.copy()

In [139]:
df_tested['Можно с животными'] = df_tested['Можно с животными'].fillna(0)

In [140]:
df_tested['Можно с детьми'] = df_tested['Можно с детьми'].fillna(0)

In [141]:
# df_tested[(df_tested['Этажность дома'] > 5) & df_tested['Лифт пасс'].isna() & df_tested['Лифт груз'].isna()]
df_tested.loc[
    (df_tested['Этажность дома'] > 5) & 
    (df_tested['Лифт пасс'].isna()) &
    (df_tested['Лифт груз'].isna()),
    ['Лифт пасс', 'Лифт груз']
    ] = 1

In [142]:
df_tested[(df_tested['Этажность дома'] > 5) & df_tested['Лифт пасс'].isna() & df_tested['Лифт груз'].isna()]

Empty DataFrame
Columns: [ID  объявления, Количество комнат, Метро, Парковка, Ремонт, Балкон, Окна, Высота потолков, м, Мусоропровод, Общая площадь, м2, Тип дома, Этажность дома, Этаж квартиры, Лоджия, Санузел совмещенный, Санузел раздельный, Лифт пасс, Лифт груз, Можно с детьми, Можно с животными, Цена аренды]
Index: []

In [143]:
df_tested.isnull().sum()

ID  объявления             0
Количество комнат       1029
Метро                   1306
Парковка               13328
Ремонт                  2745
Балкон                  7912
Окна                    6556
Высота потолков, м     12077
Мусоропровод           10456
Общая площадь, м2          0
Тип дома                   0
Этажность дома             0
Этаж квартиры              0
Лоджия                  7912
Санузел совмещенный     2640
Санузел раздельный      2640
Лифт пасс               3014
Лифт груз               3014
Можно с детьми             0
Можно с животными          0
Цена аренды                0
dtype: int64

In [144]:
df_tested[['Лифт пасс', 'Лифт груз']] = df_tested[['Лифт пасс', 'Лифт груз']].fillna(0)

In [145]:
df_tested['Санузел совмещенный'] = df_tested['Санузел совмещенный'].fillna(1)

In [146]:
df_tested['Санузел раздельный'] = df_tested['Санузел раздельный'].fillna(0)

In [147]:
df_tested.tail(10)

,ID объявления,Количество комнат,Метро,Парковка,Ремонт,Балкон,Окна,"Высота потолков, м",Мусоропровод,"Общая площадь, м2",Тип дома,Этажность дома,Этаж квартиры,Лоджия,Санузел совмещенный,Санузел раздельный,Лифт пасс,Лифт груз,Можно с детьми,Можно с животными,Цена аренды
23189,274997305,1.0,Солнцево,NaN,Дизайнерский,1.0,NaN,NaN,Нет,40.0,Неизвестно,22,6,0.0,1.0,0.0,1.0,1.0,0.0,0.0,65000.0
23190,272839104,3.0,Говорово,наземная,Косметический,NaN,NaN,NaN,Нет,85.0,Неизвестно,16,1,NaN,1.0,0.0,1.0,1.0,1.0,0.0,80000.0
23191,274905391,1.0,Солнцево,NaN,Косметический,1.0,На улицу,2.64,Да,39.0,Панельный,17,12,0.0,1.0,0.0,1.0,1.0,1.0,0.0,42000.0
23192,202336163,1.0,Солнцево,NaN,Косметический,NaN,На улицу,2.64,Да,32.0,Панельный,9,9,NaN,1.0,0.0,1.0,0.0,1.0,1.0,35000.0
23193,274652877,NaN,Говорово,NaN,Евроремонт,NaN,NaN,NaN,Да,25.0,Монолитный,17,11,NaN,1.0,0.0,1.0,1.0,0.0,0.0,39000.0
23194,215565511,NaN,Говорово,NaN,Евроремонт,1.0,NaN,NaN,NaN,35.0,Неизвестно,14,10,0.0,1.0,0.0,1.0,1.0,0.0,0.0,42000.0
23195,274654844,1.0,Солнцево,NaN,Евроремонт,0.0,Во двор,NaN,NaN,38.7,Монолитный,18,5,1.0,1.0,0.0,1.0,1.0,0.0,0.0,45000.0
23196,268679909,2.0,Солнцево,NaN,Дизайнерский,1.0,На улицу и двор,NaN,NaN,43.1,Кирпичный,5,5,0.0,1.0,0.0,0.0,0.0,1.0,0.0,50000.0
23197,274807525,2.0,Солнцево,наземная,Евроремонт,0.0,Во двор,2.65,Да,52.5,Монолитный,23,8,1.0,1.0,1.0,3.0,0.0,0.0,0.0,55000.0
23198,274672243,2.0,Говорово,NaN,Косметический,0.0,Во двор,NaN,Да,90.0,Панельный,23,6,1.0,0.0,1.0,3.0,0.0,1.0,1.0,57000.0

In [148]:
df_tested['Лоджия'] = df_tested['Лоджия'].fillna(0)
df_tested['Балкон'] = df_tested['Балкон'].fillna(0)

In [149]:
df_tested['Мусоропровод'] = df_tested['Мусоропровод'].fillna(0)

In [150]:
median_value = np.nanmedian(df_tested['Высота потолков, м'])
df_tested['Высота потолков, м'] = df_tested['Высота потолков, м'].fillna(median_value)

In [151]:
df_tested['Окна'].value_counts(dropna=False)

Окна
Во двор            10801
NaN                 6556
На улицу и двор     3269
На улицу            2573
Name: count, dtype: int64

In [152]:
df_tested['Окна'] = df_tested['Окна'].fillna('Во двор')

In [153]:
df_tested['Ремонт'] = df_tested['Ремонт'].fillna('Евроремонт')

In [154]:
df_tested['Парковка'] = df_tested['Парковка'].fillna('наземная')

In [155]:
df_tested['Метро'].value_counts()

Метро
Селигерская      389
Щелковская       311
Бабушкинская     282
Новогиреево      278
Академическая    269
                ...
Яхромская          1
Зенит              1
Нахабино           1
Театральная        1
Волковская         1
Name: count, Length: 332, dtype: int64

In [156]:
top_5_stations = df_tested['Метро'].value_counts().index[:5]

def fill_with_top_5(row, top_5):
    if pd.isna(row['Метро']):
        return np.random.choice(top_5)  # Случайный выбор станции из топ-5
    return row['Метро']

# Заполнение NaN в колонке 'Метро' случайными значениями из топ-5
df_tested['Метро'] = df_tested.apply(lambda row: fill_with_top_5(row, top_5_stations), axis=1)

In [157]:
# df_tested['Метро'] = df_tested['Метро'].fillna(np.random.choice(top_5_stations))

In [158]:
df['Количество комнат'].value_counts(dropna=False)

Количество комнат
2.0    8418
1.0    7864
3.0    4232
4.0    1155
NaN    1029
5.0     364
6.0     137
Name: count, dtype: int64

In [159]:

df_tested.loc[(df_tested['Количество комнат'].isna()) & (df_tested['Общая площадь, м2'] < 40), 'Количество комнат'] = 1
df_tested.loc[(df_tested['Количество комнат'].isna()) & (df_tested['Общая площадь, м2'] >= 40) & (df_tested['Общая площадь, м2'] < 60), 'Количество комнат'] = 2
df_tested.loc[(df_tested['Количество комнат'].isna()) & (df_tested['Общая площадь, м2'] >= 60) & (df_tested['Общая площадь, м2'] < 80), 'Количество комнат'] = 3
df_tested.loc[(df_tested['Количество комнат'].isna()) & (df_tested['Общая площадь, м2'] >= 80) & (df_tested['Общая площадь, м2'] < 100), 'Количество комнат'] = 4
df_tested.loc[(df_tested['Количество комнат'].isna()) & (df_tested['Общая площадь, м2'] >= 100), 'Количество комнат'] = 5

In [160]:
df_tested.head()

,ID объявления,Количество комнат,Метро,Парковка,Ремонт,Балкон,Окна,"Высота потолков, м",Мусоропровод,"Общая площадь, м2",Тип дома,Этажность дома,Этаж квартиры,Лоджия,Санузел совмещенный,Санузел раздельный,Лифт пасс,Лифт груз,Можно с детьми,Можно с животными,Цена аренды
0,271271157,4.0,Смоленская,подземная,Дизайнерский,0.0,Во двор,3.0,Да,200.0,Монолитный,16,5,0.0,1.0,0.0,4.0,1.0,1.0,1.0,500000.0
1,271634126,4.0,Смоленская,подземная,Дизайнерский,0.0,На улицу и двор,3.5,Нет,198.0,Монолитно-кирпичный,16,5,0.0,2.0,1.0,1.0,1.0,1.0,0.0,500000.0
2,271173086,4.0,Смоленская,подземная,Евроремонт,0.0,На улицу и двор,3.2,0,200.0,Неизвестно,16,5,0.0,3.0,0.0,1.0,0.0,1.0,0.0,500000.0
3,272197456,4.0,Смоленская,подземная,Евроремонт,0.0,На улицу и двор,3.2,0,170.0,Неизвестно,6,5,0.0,3.0,0.0,1.0,0.0,0.0,1.0,400000.0
4,273614615,2.0,Арбатская,наземная,Евроремонт,0.0,На улицу и двор,3.9,Да,58.0,Панельный,26,12,0.0,2.0,0.0,1.0,1.0,0.0,0.0,225000.0

In [164]:
df_tested.to_csv('/Users/alex_eyfler/ds_bootcamp/rent_real_estate_team_pandas/Alexander/data/almost_final_data.csv', index=False)

In [166]:
df_tested.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23199 entries, 0 to 23198
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID  объявления       23199 non-null  int64
 1   Количество комнат    23199 non-null  float64
 2   Метро                23199 non-null  object
 3   Парковка             23199 non-null  object
 4   Ремонт               23199 non-null  object
 5   Балкон               23199 non-null  float64
 6   Окна                 23199 non-null  object
 7   Высота потолков, м   23199 non-null  float64
 8   Мусоропровод         23199 non-null  object
 9   Общая площадь, м2    23199 non-null  float64
 10  Тип дома             23199 non-null  object
 11  Этажность дома       23199 non-null  int64
 12  Этаж квартиры        23199 non-null  int64
 13  Лоджия               23199 non-null  float64
 14  Санузел совмещенный  23199 non-null  float64
 15  Санузел раздельный   23199 non-null  float64
 16  Лифт пасс            23199 non-null  float64
 17  Лифт груз            23199 non-null  float64
 18  Можно с детьми       23199 non-null  float64
 19  Можно с животными    23199 non-null  float64
 20  Цена аренды          23199 non-null  float64
dtypes: float64(12), int64(3), object(6)
memory usage: 3.7+ MB