In [6]:
# Импорт библиотек
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from src.my_data_filter_try import df_filtred

In [7]:
#df.to_csv('output_file.csv', index=False, encoding='utf-8')
df_filtred.head(10)

,Комнат,Метро,Адрес,Площадь,Этаж,Этажность_дома,Парковка,Аренда,Ремонт,Балкон,Лоджия,Санузел_совмещённый,Санузел_раздельный,Можно_с_детьми,Можно_с_животными,Лифт_пасс,Лифт_груз
0,4,м. Смоленская,"улица Новый Арбат, 27",200.0,5,16,подземная,500000,Дизайнерский,<NA>,<NA>,<NA>,<NA>,1,1,0,0
1,4,м. Смоленская,"улица Новый Арбат, 27",198.0,5,16,подземная,500000,Дизайнерский,<NA>,<NA>,2,1,1,0,0,0
3,4,м. Смоленская,"переулок Плотников, 21С1",170.0,5,6,подземная,400000,Евроремонт,<NA>,<NA>,3,0,0,1,0,0
4,2,м. Арбатская,"улица Новый Арбат, 15",58.0,12,26,NaN,225000,Евроремонт,<NA>,<NA>,2,0,<NA>,<NA>,0,0
5,3,м. Смоленская,"1-й Смоленский переулок, 21",92.0,3,7,NaN,470000,Дизайнерский,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,0
6,5,м. Арбатская,"переулок Романов, 3С1",213.0,4,5,наземная,350000,Евроремонт,<NA>,<NA>,2,0,1,1,0,0
7,3,м. Смоленская,"улица Арбат, 43С3",98.0,2,4,подземная,250000,Евроремонт,<NA>,<NA>,1,1,1,1,0,0
8,3,м. Смоленская,"Новинский бульвар, 18С1",120.0,5,10,открытая,130000,Евроремонт,<NA>,<NA>,1,0,0,1,0,0
9,4,м. Арбатская,"улица Арбат, 30/3С1",90.0,2,7,открытая,210000,Евроремонт,1,0,1,1,1,0,0,0
10,4,м. Смоленская,"Малый Николопесковский переулок, 4",170.0,6,7,подземная,290000,Евроремонт,<NA>,<NA>,3,0,1,0,0,0

In [8]:
df.columns

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum()

Комнат                  1019
Метро                   1037
Адрес                      0
Площадь                    0
Этаж                       0
Этажность_дома             0
Парковка               10458
Аренда                     0
Ремонт                  2640
Балкон                  7444
Лоджия                  7444
Санузел_совмещённый     2431
Санузел_раздельный      2431
Можно_с_детьми          5755
Можно_с_животными       5755
Лифт_пасс               3491
Лифт_груз               3491
dtype: int64

In [ ]:
df['Метро'].value_counts(dropna=False)

Метро
NaN                1037
м. Селигерская      366
м. Щелковская       302
м. Бабушкинская     280
м. Новогиреево      267
                   ...
м. Яхромская          1
м. Зенит              1
м. Румянцево          1
м. Театральная        1
м. Волковская         1
Name: count, Length: 332, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21976 entries, 0 to 23367
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Комнат               20957 non-null  object
 1   Метро                20939 non-null  object
 2   Адрес                21976 non-null  object
 3   Площадь              21976 non-null  float64
 4   Этаж                 21976 non-null  int64
 5   Этажность_дома       21976 non-null  int64
 6   Парковка             11518 non-null  object
 7   Аренда               21976 non-null  int64
 8   Ремонт               19336 non-null  object
 9   Балкон               14532 non-null  object
 10  Лоджия               14532 non-null  object
 11  Санузел_совмещённый  19545 non-null  object
 12  Санузел_раздельный   19545 non-null  object
 13  Можно_с_детьми       16221 non-null  object
 14  Можно_с_животными    16221 non-null  object
 15  Лифт_пасс            18485 non-null  object
 16  Лифт_груз            18485 non-null  object
dtypes: float64(1), int64(3), object(13)
memory usage: 3.0+ MB